@import '../../theme/theme-variables';

.sidenav {
  &__scrollbar {
    height: calc(100%);
  }
  &__list {
    background: $black;
    border-bottom: 1px solid rgba(117, 117, 117, 0.2);
    padding-bottom: 48px;
    a {
      color: $white;
      font-size: 1rem;
      margin: 8px 12px;
      border-radius: 3px;
      border-bottom: 1px solid rgba(117, 117, 117, 0.2);
      &:hover {
        background: rgba(255, 255, 255, 0.1);
        border: 0;
      }
    }
    a.active {
      transition: background 0.3s linear;
      &.active--monster {
        background: #A25E4C;
      }
      &.active--spell {
        background: #008184;
      }
      &.active--trap {
        background: #913D69;
      }
      & .sidenav__list__arrow {
        margin-right: -9px;
        visibility: visible;
        opacity: 1;
      }
      & .sidenav__list__icon {
        font-weight: 700;
        transition: font-weight 0.3s linear;
      }
    }
    &__icon {
      margin-right: 16px;
      height: 40px;
      width: 40px;
      border-radius: 2px;
      border: 1px solid rgba(255, 255, 255, 0.4);
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 300;
      flex: 0 0 40px;
    }
    &__item {
      width: 100%;
      display: flex;
      flex-direction: column;
      span:first-of-type {
        font-weight: 400;
      }
      span:nth-of-type(2) {
        font-size: 0.9rem;
        font-weight: 300;
      }
    }
    &__arrow {
      margin-right: -3px;
      visibility: hidden;
      opacity: 0;
      transition: all 0.2s linear;
    }
  }
}
