@import "../../theme/theme-variables";

.card {
  &__details {
    display: flex;
    width: 100%;
    height: auto;
    &.skeleton{
      height: 360px;
    }
    &__img {
      opacity: 1;
      min-width: 20vw;
      width: 20vw;
      height: calc(20vw * 1.47);
      //max-width: 300px;
      //max-height: 440px;
      box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
        0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
      img {
        height: 100%;
        width: auto;
      }
      @media (max-width: 480px){
        display: none;
      }
      &.skeleton{
        min-width: 20vw;
        background: $gray;
        box-shadow: none;
      }
    }
    &__content {
      display: flex;
      flex-direction: column;
      position: relative;
      padding-left: 24px;
      width: 100%;
      @media (max-width: 480px){
        padding-left: 0;
      }
    }
    &__title {
      &.skeleton {
        height: 30px;
        width: 70%;
        background: $gray;
      }
    }
    &__type {
      &.skeleton {
        height: 20px;
        width: 50%;
        background: $gray;
      }
    }
    &__level {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      right: 0;
      width: 50px;
      height: 50px;
      border-radius: 2px;
      color: $white;
      h6 {
        font-size: 0.8rem;
        font-weight: 400;
        margin: 0;
      }
      span {
        font-size: 1.5rem;
        font-weight: 300;
        line-height: 1.6rem;
      }
      &--monster {
        background: #a25e4c;
      }
      &--spell {
        background: #008184;
      }
      &--trap {
        background: #913d69;
      }
      &.skeleton {
        background: $gray;
      }
    }

    &__text {
      height: 100%;
      &.skeleton {
        margin: 16px 0 8px;
        background: $gray;
      }
    }

    &__power {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;
      height: 100px;
      width: 100%;
      &__attack,
      &__defense {
        display: flex;
        justify-content: center;
        align-items: center;
        .progress {
          margin: 4px 0 4px 8px;
          width: 200px;
          height: 25px;
          &.skeleton {
            background: $gray;
          }
        }
        .progress-bar {
          height: 25px;
          background-color: #a25e4c;
        }
      }
    }
  }
}

*.skeleton {
  animation: loadingcard 1.5s infinite linear;
}

@keyframes loadingcard {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.2;
  }
}
