<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [attr.role]="(isMobile | async) ? 'dialog' : 'navigation'"
               [mode]="(isMobile | async) ? 'over' : 'side'" [opened]="!(isMobile | async)">
    <mat-toolbar class="sidenav__header">
      <!--<mat-icon class="sidenav__header__icon">remove_red_eye</mat-icon>-->
      <!--<span>YuGiOh Deck Browser</span>-->
    </mat-toolbar>
    <app-cards></app-cards>
  </mat-sidenav>
  <mat-sidenav-content class="content">
    <mat-toolbar class="content__header"
                 [ngClass]="{'content__header--transparent': isHome, 'content__header--isMobile': isMobile | async}">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
              *ngIf="isMobile | async">
        <mat-icon class="content__header__icon" aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    </mat-toolbar>
    <div class="content__inner">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
