@import '../../theme/theme-variables';

.sidenav-container {
  height: 100%;
}

.sidenav {
  overflow: hidden;
  width: $sidenav-width;
  &__header {
    border-bottom: 1px solid rgba(117, 117, 117, 0.2);
    background: $black;
    color: #fafafa;
    cursor: pointer;
    padding: 0 8px;
    font-size: 1.1rem;
    text-transform: uppercase;
    &__icon {
      height: 25px;
      width: auto;
      padding: 0 12px;
    }
  }
}

.content {
  &__header {
    position: fixed;
    background: $gray;
    padding-right: $sidenav-width;
    z-index: 1;
    font-size: 1rem;
    color: #555;
    &__title {
      text-transform: uppercase;
    }
    &__stats {
      padding-right: 16px;
    }
    &--transparent {
      background: transparent;
    }
    &--isMobile {
      padding-right: 0;
    }
    img {
      height: 32px;
      width: auto;
      border-radius: 50%;
      margin: 0 32px 0 16px;
    }
    &__icon {
      color: $black;
    }
  }
  &__inner {
    height: 100%;
    padding-top: $toolbar-height;
    background: $gray;
  }
}
